:root {
  --accent-color: #28a745;
  --primary-text-color: #333333;
  --secondary-text-color: #ffffff;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: var(--primary-text-color);
  background-color: var(--secondary-text-color);
}

/* reset */
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
/* Класс для обнуления базовых свойств у списков (ul) */
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
/* Класс для обнуления базовых свойств у ссылок */
.link {
  text-decoration: none;
  color: inherit;
}
/* Свойства для корректного отображения картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* Свойства для обнуления курсива у address */

address {
  font-style: normal;
}

/* utils */
.container {
  width: 1360px;
  margin: 0 auto;
  padding: 0 28px;
}

/* header */
.header{
  background-color: #2f303a;
}

.header .container{
  padding-left: 50px;
  padding-right: 50px;
}

.header-nav{
  display: flex;
  align-items: center;
}

.header-logo{
  display: flex;
  align-items: center;
  font-size: 35px;
  line-height: 1.21;
  color: var(--secondary-text-color);
}

.header-nav-list{
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 38px;
}

.header-logo-img{
  margin-right: 10px;
}

.accent{
  color: var(--accent-color);
  margin-right: 12px;
}

.header-nav-link{
  display: block;
  line-height: 1.56;
  color: var(--secondary-text-color);
  padding-top: 20px;
  padding-bottom: 20px;
}



.hero {
  background-color: #2f303a;
}

/* about */
.about-subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.65;
  text-align: center;
}

.about-text {
  line-height: 1.56;
  text-align: center;
}
