<section class="about">
  <div class="container">
    <h2 class="visually-hidden">About</h2>
    <ul class="about-list list">
      <li class="about-item">
        <h3 class="about-subtitle">Investmant Banking</h3>
        <p class="about-text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur,
          necessitatibus!
        </p>
      </li>

      <li class="about-item">
        <h3 class="about-subtitle">Portfolio Manager</h3>
        <p class="about-text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur,
          necessitatibus!
        </p>
      </li>

      <li class="about-item">
        <h3 class="about-subtitle">Tax & Custudio</h3>
        <p class="about-text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur,
          necessitatibus!
        </p>
      </li>
    </ul>
  </div>
</section>
