<section class="buscase" id="buscase">
  <div class="container">
    <div class="buscase-text">
      <p class="buscase-uppertitle">This is what we do</p>
      <h2 class="buscase-title">Business Cases</h2>
      <p class="buscase-subtitle">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
        sapiente!
      </p>
    </div>

    <ul class="buscase-list list gallery">
      <li>
        <a href="./images/buscase/Rectangle-1.jpg">
          <img src="./images/buscase/Rectangle-1.jpg" alt="Rec1" width="320" height="214" />
        </a>
      </li>
      <li>
        <a href="./images/buscase/Rectangle-2.jpg">
          <img src="./images/buscase/Rectangle-2.jpg" alt="Rec2" width="320" height="214" />
        </a>
      </li>
      <li>
        <a href="./images/buscase/Rectangle-3.jpg">
          <img src="./images/buscase/Rectangle-3.jpg" alt="Rec3" width="320" height="214" />
        </a>
      </li>
      <li>
        <a href="./images/buscase/Rectangle-4.jpg">
          <img src="./images/buscase/Rectangle-4.jpg" alt="Rec4" width="320" height="214" />
        </a>
      </li>
      <li>
        <a href="./images/buscase/Rectangle-5.jpg">
          <img src="./images/buscase/Rectangle-5.jpg" alt="Rec5" width="320" height="214" />
        </a>
      </li>
      <li>
        <a href="./images/buscase/Rectangle-6.jpg">
          <img src="./images/buscase/Rectangle-6.jpg" alt="Rec6" width="320" height="214" />
        </a>
      </li>
      <li>
        <a href="./images/buscase/Rectangle-7.jpg">
          <img src="./images/buscase/Rectangle-7.jpg" alt="Rec7" width="320" height="214" />
        </a>
      </li>
      <li>
        <a href="./images/buscase/Rectangle-8.jpg">
          <img src="./images/buscase/Rectangle-8.jpg" alt="Rec9" width="320" height="214" />
        </a>
      </li>
    </ul>
  </div>
</section>