<section class="callback">
  <div class="container">
    <img
      src="./images/callback/callback.jpg"
      alt="man with phone"
      width="680"
      height="460"
    />

    <div class="callback-content-wrapper">
      <h2 class="callback-title">Request Callback</h2>

      <form class="callback-form">
        <label class="callback-label name">
          <span class="label-name">Name</span>
          <input
            class="callback-label-input"
            type="text"
            name="username"
            placeholder="Enter your name"
          />
        </label>

        <label class="callback-label email">
          <span class="label-name">Email</span>

          <input
            class="callback-label-input"
            type="email"
            name="email"
            placeholder="Enter email*"
            required
          />
        </label>

        <button class="btn callback-btn" type="submit">Send</button>
      </form>
    </div>
  </div>
</section>
