<header class="header header-js">
  <div class="container">
    <nav class="header-nav">
      <a class="header-logo link animate__pulse animate__animated" href="./index.html">
        <img class="header-logo-img" src="./images/logo/logo.svg" alt="sitelogo" />
        <span class="accent">Finance</span> Ledger
      </a>
      <ul class="header-nav-list list">
        <li class="header-nav-item">
          <a class="header-nav-link link" href="#hero">Home</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link link" href="#about">About</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link link" href="#buscase">Cases</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link link" href="#post">Blog</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link link" href="#footer">Contacts</a>
        </li>
      </ul>
    </nav>
  </div>
</header>