<section class="post" id="post">
  <div class="container">
    <div class="post-contant-wrapper">
      <p class="post-subtitle">April 16 2020</p>
      <h2 class="post-title">Blog Post One</h2>
      <p class="post-text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
        ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum
        illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste
        maiores deleniti?
      </p>
      <div class="post-btn-wrapper">
        <a class="post-btn link" href="">Read Our Blog</a>
      </div>
    </div>
    <img src="./images/post/Post.jpg" alt="post" width="680" height="460" />
  </div>
</section>