<section class="solution">
  <div class="container">
    <img
      src="./images/solution/solution.jpg"
      alt="team"
      width="680"
      height="460"
    />

    <div class="solution-contant-wrapper">
      <p class="solution-subtitle">What you are looking for</p>
      <h2 class="solution-title">We provide bespoke solutions</h2>
      <p class="solution-text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
        ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum
        illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste
        maiores deleniti?
      </p>
      <div class="solution-btn-wrapper">
        <a class="solution-btn link" href="">Read More</a>
      </div>
    </div>
  </div>
</section>
