.buscase {
  & .container {
    padding: 50px 28px 47px 28px;
  }

  &-text {
    display: flex;
    flex-direction: column;
  }

  &-title {
    font-weight: 300;
    font-size: 38px;
    line-height: 1.26;
    color: var(--primary-text-color);
    margin: 0 auto 34px;
  }

  &-subtitle {
    line-height: 1.56;
    color: var(--primary-text-color);
    margin: 0 auto 39px;
  }

  &-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
  }

  &-uppertitle {
    font-size: 20px;
    line-height: 1.65;
    color: var(--primary-text-color);
    margin: 0 auto 15px;
  }
}
